# Ignorar os executáveis
*.exe
# Ignora os arquivos objetos
*.o
# Ignora os logs
*.log
# Ignora os arquivos de rascunho dos enunciados das questões
*.docx
### VisualStudioCode ###
.vscode/*
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history