# Ignorar os executáveis
*.exe
# Ignora os arquivos objetos
*.o
# Ignora os logs
*.log
# Ignora os arquivos de rascunho dos enunciados das questões
*.docx
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history